Desktop/
Documents/
Downloads/
Library/
Movies/
Music/
Pictures/
Public/

.CFUserTextEncoding
.bash_history
.bash_sessions/
.config/coc/
.local/
.oh-my-zsh/
.viminfo
.zcompdump*
.zsh_history
.zshrc.pre-oh-my-zsh

.ssh/id_rsa
.ssh/known_hosts
