.bash_history
.bash_logout
.bash_profile
.bashrc
.profile
.ssh/
.viminfo
.CFUserTextEncoding
.Trash
.gnupg/
.oh-my-zsh/
.python_history
.vscode/
.zcompdump*
.zsh_history
.vim/autoload/plug.vim
.vim/plugged/
Desktop/
Documents/
Downloads/
Library/
Movies/
Music/
Pictures/
Public/
